<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>helix.web</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpgradeAccountServlet</display-name>
  	<servlet-name>UpgradeAccountServlet</servlet-name>
  	<servlet-class>controller.UpgradeAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpgradeAccountServlet</servlet-name>
  	<url-pattern>
  	/UpgradeAccountServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         /home/yuanbo/Desktop/
     </param-value>
  </context-param>
</web-app>